<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanying.dao.BookMapper">
	<resultMap id="BaseResultMap" type="com.duanying.impl.dto.BookDto">

		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type_id" jdbcType="INTEGER" property="typeId" />
		<result column="book_name" jdbcType="VARCHAR" property="bookName" />
		<result column="descript" jdbcType="VARCHAR" property="descript" />
		<result column="author_id" jdbcType="INTEGER" property="authorId" />
		<result column="txt_count" jdbcType="INTEGER" property="txtCount" />
		<result column="week_ticket" jdbcType="INTEGER" property="weekTicket" />
		<result column="month_ticket" jdbcType="INTEGER" property="monthTicket" />
		<result column="lastest_chapter" jdbcType="INTEGER" property="lastestChapter" />
		<result column="book_level" jdbcType="DOUBLE" property="bookLevel" />
		<result column="book_img" jdbcType="VARCHAR" property="bookImg" />
		<result column="book_status" jdbcType="VARCHAR" property="bookStatus" />
		<result column="book_label" jdbcType="VARCHAR" property="bookLabel" />
		<result column="type_name" jdbcType="VARCHAR" property="typeName" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type_id, book_name, descript, author_id, txt_count, week_ticket,
		month_ticket,
		lastest_chapter, book_level, book_img, book_status, book_label,type_name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_book
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByTypes" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		(SELECT t.type_name,b.* FROM t_book b,t_book_type t WHERE b.type_id=t.id
		AND(type_id = 45 OR type_id = 49) LIMIT 0,5)
		UNION
		(SELECT t.type_name,b.* FROM t_book b,t_book_type t WHERE b.type_id=t.id
		AND(type_id = 40 OR type_id = 44) LIMIT 0,5)
		UNION
		(SELECT t.type_name,b.* FROM t_book b,t_book_type t WHERE b.type_id=t.id AND
		type_id = 41 LIMIT 0,5)
		UNION
		(SELECT t.type_name,b.* FROM t_book b,t_book_type t WHERE b.type_id=t.id
		AND(type_id = 38 OR type_id = 36) LIMIT 0,5)
		UNION
		(SELECT t.type_name,b.* FROM t_book b,t_book_type t WHERE b.type_id=t.id
		AND(type_id = 42 OR type_id = 46) LIMIT 0,5)
		UNION
		(SELECT t.type_name,b.* FROM t_book b,t_book_type t WHERE b.type_id=t.id
		AND(type_id = 48 OR type_id = 39) LIMIT 0,5)
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		delete from t_book
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.duanying.model.Book">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into t_book (id, type_id, book_name,
		descript, author_id, txt_count,
		week_ticket, month_ticket, lastest_chapter,
		book_level, book_img, book_status,
		book_label)
		values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER},
		#{bookName,jdbcType=VARCHAR},
		#{descript,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, #{txtCount,jdbcType=INTEGER},
		#{weekTicket,jdbcType=INTEGER}, #{monthTicket,jdbcType=INTEGER},
		#{lastestChapter,jdbcType=INTEGER},
		#{bookLevel,jdbcType=DOUBLE}, #{bookImg,jdbcType=VARCHAR}, #{bookStatus,jdbcType=VARCHAR},
		#{bookLabel,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.duanying.model.Book">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		insert into t_book
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="bookName != null">
				book_name,
			</if>
			<if test="descript != null">
				descript,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="txtCount != null">
				txt_count,
			</if>
			<if test="weekTicket != null">
				week_ticket,
			</if>
			<if test="monthTicket != null">
				month_ticket,
			</if>
			<if test="lastestChapter != null">
				lastest_chapter,
			</if>
			<if test="bookLevel != null">
				book_level,
			</if>
			<if test="bookImg != null">
				book_img,
			</if>
			<if test="bookStatus != null">
				book_status,
			</if>
			<if test="bookLabel != null">
				book_label,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=INTEGER},
			</if>
			<if test="bookName != null">
				#{bookName,jdbcType=VARCHAR},
			</if>
			<if test="descript != null">
				#{descript,jdbcType=VARCHAR},
			</if>
			<if test="authorId != null">
				#{authorId,jdbcType=INTEGER},
			</if>
			<if test="txtCount != null">
				#{txtCount,jdbcType=INTEGER},
			</if>
			<if test="weekTicket != null">
				#{weekTicket,jdbcType=INTEGER},
			</if>
			<if test="monthTicket != null">
				#{monthTicket,jdbcType=INTEGER},
			</if>
			<if test="lastestChapter != null">
				#{lastestChapter,jdbcType=INTEGER},
			</if>
			<if test="bookLevel != null">
				#{bookLevel,jdbcType=DOUBLE},
			</if>
			<if test="bookImg != null">
				#{bookImg,jdbcType=VARCHAR},
			</if>
			<if test="bookStatus != null">
				#{bookStatus,jdbcType=VARCHAR},
			</if>
			<if test="bookLabel != null">
				#{bookLabel,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.duanying.model.Book">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_book
		<set>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=INTEGER},
			</if>
			<if test="bookName != null">
				book_name = #{bookName,jdbcType=VARCHAR},
			</if>
			<if test="descript != null">
				descript = #{descript,jdbcType=VARCHAR},
			</if>
			<if test="authorId != null">
				author_id = #{authorId,jdbcType=INTEGER},
			</if>
			<if test="txtCount != null">
				txt_count = #{txtCount,jdbcType=INTEGER},
			</if>
			<if test="weekTicket != null">
				week_ticket = #{weekTicket,jdbcType=INTEGER},
			</if>
			<if test="monthTicket != null">
				month_ticket = #{monthTicket,jdbcType=INTEGER},
			</if>
			<if test="lastestChapter != null">
				lastest_chapter = #{lastestChapter,jdbcType=INTEGER},
			</if>
			<if test="bookLevel != null">
				book_level = #{bookLevel,jdbcType=DOUBLE},
			</if>
			<if test="bookImg != null">
				book_img = #{bookImg,jdbcType=VARCHAR},
			</if>
			<if test="bookStatus != null">
				book_status = #{bookStatus,jdbcType=VARCHAR},
			</if>
			<if test="bookLabel != null">
				book_label = #{bookLabel,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.duanying.model.Book">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_book
		set type_id = #{typeId,jdbcType=INTEGER},
		book_name = #{bookName,jdbcType=VARCHAR},
		descript = #{descript,jdbcType=VARCHAR},
		author_id = #{authorId,jdbcType=INTEGER},
		txt_count = #{txtCount,jdbcType=INTEGER},
		week_ticket = #{weekTicket,jdbcType=INTEGER},
		month_ticket = #{monthTicket,jdbcType=INTEGER},
		lastest_chapter = #{lastestChapter,jdbcType=INTEGER},
		book_level = #{bookLevel,jdbcType=DOUBLE},
		book_img = #{bookImg,jdbcType=VARCHAR},
		book_status = #{bookStatus,jdbcType=VARCHAR},
		book_label = #{bookLabel,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>